#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Calc{
  background-color: rgb(56, 56, 56);
  width: 350px;
  height:450px;
  padding: 1vh;
}

.calc-title{
  

  margin: 0px;
}

svg{
 
  
  margin: 0px;
}

.calc-header{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.cls-1{fill:#5795f1;}.cls-2{fill:#564ac2;}


.button-block{
  background-color: rgba(24, 24, 24, 0.801);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin:10px 0px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.logic-symbol, .number-symbol {
  display: contents; /* Убираем лишние div, чтобы элементы стали частью общей сетки */
}

.button-block p{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  border: 1px solid rgb(50, 51, 51);
  padding: 13px 0px;
  margin: 0px;
  cursor: pointer;
  transition: 0.6 ease;
}

.button-block p:hover{
  background-color: #181822;
}

.logic-symbol p:nth-child(1){
  grid-area: 1/1;
}

.logic-symbol p:nth-child(2){
  grid-area: 1/2;
}


.logic-symbol p:nth-child(3){
  grid-area: 1/3;
}

.logic-symbol p:nth-child(4){
  grid-area: 1/4;
}

.logic-symbol p:nth-child(5){
  grid-area: 2/4;
}

.logic-symbol p:nth-child(6){
  grid-area: 3/4;
}

.logic-symbol p:nth-child(7){
  grid-column:4;
  grid-row: 4/6;
  background-color: #5795f1;
  transition: 0.6 ease;
}

.logic-symbol p:nth-child(7):hover{
  background-color: #3d6bb1;
}
.calc-input{
  width: 100%;
  height: 18%;
  
}

.calc-input input {
  height: 100%;
  width: 95%;
  font-size: 18px; /* Размер шрифта */
  text-align: right; /* Выравнивание текста по левому краю */
  margin: 5px 0px;
  font-size: 7vh;
  border-radius: 12px;
  border: none; /* Убираем границу */
  background-color: transparent; /* Прозрачный фон */
  outline: none; /* Убираем outline при фокусе */
  transition: 0.3s ease; /* Плавные переходы */
 
  
}


.calc-input input:focus {
  background-color: rgba(0, 0, 0, 0.05); 
}






